html {
    -webkit-font-smoothing: antialiased;
    border-radius: 10px;
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    height: 100%;
    padding: 15px;
    color: #adafb6;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background: transparent;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: auto;
}

.switch {
    margin: 10px;
    margin-left: 30px;
    cursor: pointer;
}

.switch input {
    display: none;
}

.switch input+span {
    width: 48px;
    height: 28px;
    border-radius: 14px;
    transition: all 0.1s ease;
    display: block;
    position: relative;
    background: #ddd;
    box-shadow: 0 8px 16px -1px rgba(221, 221, 221, .2);
}

.switch input+span:before,
.switch input+span:after {
    content: '';
    display: block;
    position: absolute;
    transition: all 0.3s ease;
}

.switch input+span:before {
    top: 5px;
    left: 5px;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    border: 5px solid #fff;
}

.switch input+span:after {
    top: 5px;
    left: 32px;
    width: 6px;
    height: 18px;
    border-radius: 40%;
    transform-origin: 50% 50%;
    background: #fff;
    opacity: 0;
}

.switch input+span:active {
    transform: scale(0.92);
} 

.switch input:checked+span {
    background: #48ea8b;
    box-shadow: 0 8px 16px -1px rgba(72, 234, 139, .2);
}

.switch input:checked+span:before {
    width: 0px;
    border-radius: 3px;
    margin-left: 27px;
    border-width: 3px;
    background: #fff;
}

.switch input:checked+span:after {
    animation: blobChecked 0.35s linear forwards 0.2s;
}

.switch input:not(:checked)+span:before {
    animation: blob 0.85s linear forwards 0.2s;
}